---
import Layout from "../layouts/Layout.astro";
import App from "../components/App.svelte";
---

<Layout title="WCAG periodic table">
  <App client:load />
  <footer>
    <details>
      <summary>Sources</summary>
      <ul class="mt-1 list-disc space-y-1 pl-5">
        <li>
          WCAG 2.2 success criteria from
          <a class="underline" href="https://github.com/tenon-io/wcag-as-json"
            >tenon-io/wcag-as-json</a
          >
        </li>
        <li>
          Most common issues data is from Deque's
          <a
            class="underline"
            href="https://accessibility.deque.com/hubfs/Accessibility-Coverage-Report.pdf"
          >
            The Automated Accessibility Coverage Report (2021)
          </a>
        </li>
        <li>
          Automated test rules from
          <a class="underline" href="https://github.com/dequelabs/axe-core">
            axe-core
          </a>
        </li>
      </ul>
    </details>
  </footer>
</Layout>
