---
import Layout from "../layouts/Layout.astro";
import Grid from "../components/Grid.svelte";
---

<Layout title="WCAG periodic table">
  <main>
    <h1>WCAG periodic table</h1>

    <Grid client:load />
  </main>

  <style></style>
</Layout>
